<html>
<head>

    <title>go-lewei-web</title>
</head>

<body>
{{/*you cannot see it in the web browser*/}}
<div>
    lewei-go-web first html
</div>
<div>!!!
    {{.Request}}
    {{.Score}}
</div>
</body>
</html>